      // Header
      header#header
        h1
          a(href='#') Brain Blog
        nav.links
          ul
            li
              a(href='#') Inicio
            li
              a(href='#') Mis Momentos
            // <li><a href="#">tempus</a></li>
            li
              a(href='#') Contacto
        nav.main
          ul
            li.search
              a.fa-search(href='#search') Buscar
              form#search(method='get', action='#')
                input(type='text', name='query', placeholder='Buscar')
            li.menu
              a.fa-bars(href='#menu') Menu
      // Menu
      section#menu
        // Search
        section
          form.search(method='get', action='#')
            input(type='text', name='query', placeholder='Buscar')
        // Links
        section
          h3 Menu
          br
          ul.links
            li
              a(href='/')
                p Inicio
            li
              a(href='#')
                p Mis Momentos
            li
              a(href='#')
                p Contacto
            
        // Actions
        section
            ul.actions.vertical
                li
                    if(session.usuario == null)
                        a#login.button.big.fit(href='/cuenta/login') Iniciar Sesión
                    else
                        p Hola! #{session.nombre}.
                        p 
                        | Administra tu cuenta haciendo
                        a(href="/cuenta/panel")  Click Aqui
                        | .
                        if(session.tipousuario == 2)
                            p
                            | Administrador Crea un post
                            a(href="/cuenta/panel")  Click Aqui
                            | .
                        br
                        br
                        a#login.button.big.fit(href='/cuenta/login/cerrarsesion') Cerrar Sesión