doctype 
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/javascripts/jquery-3.1.0.min.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/skel.min.js')
    script(src='/javascripts/util.js')
    script(src='/javascripts/main.js')

  body
    block content